.backgroundView {
  width: 75%;
  margin: auto;
  height: 100vh;
  text-align: center;
  background: white;
}

.center {
  margin: 0 auto;
}
.stopButton {
  margin: 0 auto;
  display: block;
  text-align: center;
}
