.backgroundView {
  width: 75%;
  margin: auto;
  height: 100vh;
  text-align: center;
  background: white;
}

.divStopIcon {
  padding: 2px;
  margin: 2px;
  border: 2px blue;
}
.stopButton {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.violations {
  color: red;
}
